# ── Database ──────────────────────────────────
DB_HOST=postgres
DB_NAME=airflow
DB_USER=airflow
DB_PASSWORD=airflow
DB_PORT=5432

# ── Airflow ───────────────────────────────────
AIRFLOW__WEBSERVER__SECRET_KEY=mysecretkey12345
AIRFLOW_BASE_URL=http://airflow-webserver:8080/api/v1/dags
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin

# ── DAG Paths ─────────────────────────────────
DAGS_FOLDER=/app/dags
CONTAINER_DATA_PATH=/opt/airflow/data
CONTAINER_DATASET_PATH=/opt/airflow/dataset
WINDOWS_DATA_PATH=
WINDOWS_DATASET_PATH=

# ── Email (optional) ──────────────────────────
EMAIL_SENDER=
EMAIL_PASSWORD=
EMAIL_RECEIVER=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# ── AWS S3 (optional) ─────────────────────────
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1